*{
    padding: 0;
    margin: 0;
}
#yinyang{
    width:48px;
    height:96px;
    background:black;
    border-width: 2px 2px  2px 50px;
    border-color:yellow;
    border-radius: 100%;
    border-style: solid;
    position: relative;

}
#yinyang:before{
    width:10px;
    height:10px;
    border: 19px solid black;
    background:yellow;
    border-radius: 100%;
    content: '';
    position: absolute;
    top: 0;
	left: -50%;

}
#yinyang:after{
    width:10px;
    height:10px;
    border: 19px solid yellow;
    background:black;
    border-radius:100%;
    content: '';
    position: absolute;
    bottom:0;
	right: 50%;

}